* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: radial-gradient(#ed4264, #ffedbc);
}
.header {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.header__title {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: top;
}
.grid {
  width: 200px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  border-style: solid;
  border-width: 1px;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.33);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.taken {
  border-style: solid;
  border-width: 1px;
  background-color: #fc354c;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.33);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.1);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
